body {
    background-color: black;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
.btn-secondary {
    margin: auto;
    display: block;
    margin-top: 20px;
    width: auto;
}


img {
    margin: auto;
    display: block;
}

.container {
    background: white; 
    border-style: solid; 
    border-color: black;
    border-width: 20px;
    margin-top: 30px;
}

h1 {
    margin: auto;
    display: block;
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
}


button {
    text-align: center; 
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    margin: auto;
    display: block;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}


#main-content {
    margin: auto; 
    display: block;
    padding-bottom: 30px;
}

#timer-display {
    margin: auto;
    display: block;
    text-align: center;
}

#game-title {
    padding: 40px;
}

